body
{
    margin: 0px;
}

.container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.toolBar
{
    display: flex;
    flex-direction: row;
    background-color: rgb(46, 48, 54);
    width: 100%;
    height: auto;
    color: white;
    padding: 8px 0px 8px 0px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.445);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.445);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.445);
    z-index: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.textSection
{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: text;
}

.editor
{
    display: flex;
    padding: 8px;
    width: 100%;
    height:min-content;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
}

.newline_p
{
    margin: 0px;
}

#caret
{
    border-right: 4px solid rgba(0, 0, 0, 0.685);
    box-sizing: border-box;
}

.drop
{

}

.seperator
{
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.315);
    margin: 0px 2px 0px 2px;
}

.tools
{
    display: flex;
}

.textTools
{
    display: flex;
}

.button
{
    font-size: 17px;
    width: 21px;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    margin: 0px 4px 0px 4px;
    cursor: pointer;
    border-radius: 2px;

}

.button:active
{
    background-color: rgb(46, 50, 58);
}

.button:hover
{
    background-color: rgba(255, 255, 255, 0.048);
}

.navSelect
{

}

.valSelect
{

}

.dropInput
{
    height: 100%;
    color: white;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0px 4px 0px 4px;
    border-radius: 2px;
}

.dropInput option 
{
    background-color: rgb(46, 48, 54);
}

#option
{
    padding: 4px;
}

.dropInput:focus
{
    outline: 0;
}

.dropInput:hover
{
    background-color: rgba(255, 255, 255, 0.048);
}

.spacer
{
    width: 100%;
}